/* PROMO SECTION */

.promo {
    background: rgb(60, 78, 61);
    padding: 157px 0;
    position: relative;
}

.promo .container {
    position: relative;
}

.promo__nav {
    position: absolute;
    top: -12px;
    left: 50px;
    max-width: 92px;
}

.promo__nav__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.promo__content {
    padding-left: 171px;
}

.promo-title {
    max-width: 739px;
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 77.56px;
    font-weight: 400;
}

.promo-descr {
    max-width: 619px;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
}

.promo-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.promo-btn {
    margin-top: 40px;
}

.promo__info {
    margin-top: 76px;
    display: flex;
    gap: 50px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.info-item__value {
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 64px;
    font-weight: 400;
}

.info-item__name {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* HOUSES SECTION */

.houses {
    margin-top: 43px;
    padding-left: 221px;
}

.houses-swiper {
    max-width: 100%;
    margin: 0 0 0 auto;
}

.house-img {
    display: block;
    width: 100%;
}

.house-name {
    margin-top: 18px;
    color: rgb(60, 78, 61);
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}

/* MORTGAGE SECTION */

.mortgage {
    margin-top: 300px;
    margin-bottom: 300px;
}

.mortgage-title {
    color: rgb(33, 46, 33);
    font-family: 'Geist Variable', sans-serif;
    font-size: 74px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.mortgage__factors {
    margin-top: 51.5px;
    display: flex;
    justify-content: space-between;
}

.mortgage__factors-item {
    border-top: 1px solid rgb(43, 60, 44);
    padding: 24px 25px;
    width: 50%;
    color: rgb(33, 46, 33);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
}

.mortgage__factors-item:first-child {
    border-right: 1px solid rgb(33, 46, 33);;
}

.mortgage__wrapper {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}

.mortgage__wrapper>div,
.mortgage__wrapper>ul {
    width: 50%;
}

.mortgage__block-text {
    max-width: 245px;
    color: rgb(33, 46, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.mortgage__btns {
    margin-top: 215px;
    display: inline-flex;
    gap: 38px;
}

.mortgage__banks {
    display: grid;
    grid-template-columns: repeat(3, 141px);
    gap: 26px;
}

.bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.bank-logo__wrapper {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: rgb(182, 226, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank-logo {
    max-width: 100%;
    object-fit: contain;
}

.bank-name {
    color: rgb(33, 46, 33);
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
}

/* ABOUT SECTION */

.about {
    padding: 127px 0;
    background: rgb(60, 78, 61);
}

.about__item {
    display: flex;
    gap: 51px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.about-title {
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 74px;
    font-weight: 200;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.about-block-1 {
    max-width: 289px;
    width: 100%;
}

.about__item:first-child {
    padding-bottom: 104px;
}
.about__item:nth-child(2) {
    padding: 87px 0 84px;
}
.about__item:nth-child(3) {
    padding-top: 88px;
    border-bottom: none;
}

.about__item-text {
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 74px;
    font-weight: 400;
}

.about__item-text img {
    position: relative;
}
.about__item-text img:first-child {
    top: 6%;
}
.about__item-text img:nth-child(2) {
    top: 10%;
}

.about__info {
    display: flex;
    flex-direction: column;
}

.about__info-item {
    padding: 19px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.about__info-item:first-child {
    padding-top: 0;
}

.about__info-item_name {
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.about__info-item_value {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    max-width: 65%;
    width: 100%;
}

.about__info-item_value span {
    font-weight: 500;
}

.add__services {
    width: 100%;
    display: flex;
    gap: 73px;
}

.add__services-item {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add__services-item_name {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
}

.add__services-item_descr {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
}

.consultation__wrapper {
    display: flex;
    gap: 52px;
    margin-top: 130px;
}

.consultation {
    width: 100%;
}

.consultation-title {
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    justify-content: space-between;
}

.consultation-title::after {
    content: "Консультация";
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
}

.consultation-subtitle {
    margin-top: 27px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
}

.consultation-form {
    margin-top: 27px;
    padding: 45px 54px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 56px;
    position: relative;
}

.consultation-form__input {
    max-width: 46%;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 200;
    line-height: 130%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.consultation-form__input::placeholder {
    color: rgba(255, 255, 255, .5);
}

.consultation-form__image {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

/* PROJECTS SECTION */

.projects {
    margin-top: 300px;
}

.projects-title__wrapper {
    display: flex;
    justify-content: space-between;
}

.projects-title {
    color: rgba(33, 46, 33, 0.56);
    font-family: 'Geist Variable', sans-serif;
    font-size: 74px;
    font-weight: 200;
}

.projects-title.dark {
    color: rgb(33, 46, 33);
    font-weight: 400;
}

.projects-swiper {
    margin: 48px 0 0 221px;
}
