/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Geist Variable';
    src: url(../fonts/Geist-UltraLight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Variable';
    src: url(../fonts/Geist-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Variable';
    src: url(../fonts/Geist-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.right-container {
    max-width: 100%;
    padding: 0 50px 0 221px;
}

/* --- BUTTONS --- */

.click-btn {
    padding: 22px 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
}

.click-btn.light-green {
    background: rgb(60, 78, 61);
    border: 1px solid rgb(60, 78, 61);
    color: rgb(255, 255, 255);
}

.click-btn.green-border {
    color: rgb(43, 60, 44);
    border: 1px solid rgb(96, 127, 86);
}

.consult-btn {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

/* --- BUTTONS --- */

/* --- NAVS --- */

.nav__list-item {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 200;
    line-height: 130%;
    transition: .4s all;
}

.nav__list-item.active,
.nav__list-item:hover {
    font-weight: 500;
}

/* --- NAVS --- */

/* HEADER */

.header {
    position: absolute;
    z-index: 1;
    top: 26px;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 36px;
    height: 36px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.header__nav__list {
    display: inline-flex;
    gap: 100px;
}

.header-phone {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
}

/* PROMO SECTION */

.promo {
    background: rgb(60, 78, 61);
    padding: 157px 0;
    position: relative;
}

.promo .container {
    position: relative;
}

.promo__nav {
    position: absolute;
    top: -12px;
    left: 50px;
    max-width: 92px;
}

.promo__nav__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.promo__content {
    padding-left: 171px;
}

.promo-title {
    max-width: 739px;
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 77.56px;
    font-weight: 400;
}

.promo-descr {
    max-width: 619px;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
}

.promo-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.promo-btn {
    margin-top: 40px;
}

.promo__info {
    margin-top: 76px;
    display: flex;
    gap: 50px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.info-item__value {
    color: rgb(255, 255, 255);
    font-family: 'Geist Variable', sans-serif;
    font-size: 64px;
    font-weight: 400;
}

.info-item__name {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* HOUSES SECTION */

.houses {
    margin-top: 43px;
    padding-left: 221px;
}

.houses-swiper {
    max-width: 100%;
    margin: 0 0 0 auto;
}

.house-img {
    display: block;
    width: 100%;
}

.house-name {
    margin-top: 18px;
    color: rgb(60, 78, 61);
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}

/* MORTGAGE SECTION */

.mortgage {
    margin-top: 300px;
    margin-bottom: 300px;
}

.mortgage-title {
    color: rgb(33, 46, 33);
    font-family: 'Geist Variable', sans-serif;
    font-size: 74px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.mortgage__factors {
    margin-top: 51.5px;
    display: flex;
    justify-content: space-between;
}

.mortgage__factors-item {
    border-top: 1px solid rgb(43, 60, 44);
    padding: 24px 25px;
    width: 50%;
    color: rgb(33, 46, 33);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
}

.mortgage__factors-item:first-child {
    border-right: 1px solid rgb(33, 46, 33);;
}

.mortgage__wrapper {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}

.mortgage__wrapper>div,
.mortgage__wrapper>ul {
    width: 50%;
}

.mortgage__block-text {
    max-width: 245px;
    color: rgb(33, 46, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.mortgage__btns {
    margin-top: 215px;
    display: inline-flex;
    gap: 38px;
}

.mortgage__banks {
    display: grid;
    grid-template-columns: repeat(3, 141px);
    gap: 26px;
}

.bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.bank-logo__wrapper {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: rgb(182, 226, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank-logo {
    max-width: 100%;
    object-fit: contain;
}

.bank-name {
    color: rgb(33, 46, 33);
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
}

